<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- jcaptch -->
	<beans:bean id="captchaService"
		class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService">
		<beans:property name="captchaEngine">
			<beans:ref local="imageCaptchaEngine" />
		</beans:property>
		<beans:property name="captchaStoreMaxSize" value="100000"></beans:property>
		<beans:property name="captchaStoreSizeBeforeGarbageCollection"
			value="7500"></beans:property>
		<beans:property name="minGuarantedStorageDelayInSeconds" value="180"></beans:property>
	</beans:bean>
	<beans:bean id="imageCaptchaEngine" class="jsontag.module.captcha.engine.JsonTagImageCaptchaEngine"></beans:bean>
	
</beans:beans>